@import 'tailwindcss';

@theme {
  --color-burgundy-50: #f4e9ec;
  --color-burgundy-100: #e5c7cd;
  --color-burgundy-200: #ce9aa4;
  --color-burgundy-300: #b76e7b;
  --color-burgundy-400: #a14755;
  --color-burgundy-500: #8b2030;
  --color-burgundy-600: #741a28;
  --color-burgundy-700: #5c1520;
  --color-burgundy-800: #451018;
  --color-burgundy-900: #2e0a10;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes chaos {
  0% {
    filter: brightness(1);
    transform: translate(0px, 0px);
  }
  20% {
    filter: brightness(1.5);
    transform: translate(1px, -1px);
  }
  40% {
    filter: brightness(0.8);
    transform: translate(-1px, 1px);
  }
  60% {
    filter: brightness(1.3);
    transform: translate(2px, -2px);
  }
  80% {
    filter: brightness(0.9);
    transform: translate(-2px, 2px);
  }
  100% {
    filter: brightness(1.2);
    transform: translate(0px, 0px);
  }
}
